<p>Extract the data of each of the round of PR invites.</p> 
<p>A table of 3 columns have to be formed which will have data asbelow :</p>
<p>'Date of Draw', 'Number of invitations issued', 'CRS score of lowest-ranked candidate'</p>
<p>For example the first row will have the following data in the 3 columns:</p>
<p>'May 29, 2019' , '3,350' , '470'</p>

In [ ]:
# Requests will allow you to send HTTP/1.1 requests and also allows you to access the response data of Python.
import requests  
# for regular expressions
import re

In [2]:
# Making a request to web page
page = requests.get("https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/submit-profile/rounds-invitations/results-previous.html")

In [6]:
# check the status of page
page.status_code

200

In [7]:
#Python library for pulling data out of HTML and XML files.
from bs4 import BeautifulSoup as bs
soup = bs(page.content, 'html.parser')    # defining the parser to navigate the page content

In [9]:
pattern1=re.compile('Number of invitations issued: ([\d,]+)') # search for pattern
list_invitation=[]  # Creating a empty list to put all the entires for "Number of Invitations Issued"
for para in  soup.find_all('p'):
    if (pattern1.search(para.text)!= None):
# group1 will give the number which will be at position 1, "," will be replaced with "" and then convert to int and will be appended to list
        list_invitation.append(int((pattern1.search(para.text).group(1)).replace(',','')))
list_invitation[27]=list_invitation[27]+list_invitation[28] # since the entry at index 27 is in single para, we will add the data of 27 and 28 and put that in 27 and pop 28
list_invitation.pop(28)
len(list_invitation)

44

In [11]:
#appending rest of the entries that are in table
pattern4=re.compile('(\d\d\d|\d,\d\d\d)')
for para in  soup.find_all(class_='table'):
    list_invitation.append(int((pattern4.search(para.text).group(1)).replace(',','')))
len(list_invitation)

120

In [13]:
#Date List
pattern2=re.compile(r'[a-zA-Z]+.*')
dates=[data.get_text() for data in soup.find_all('h3')][:-1]
list_Date=[]
for item in dates:
    if pattern2.search(item)!= None:
        list_Date.append(pattern2.search(item).group())

len(list_Date)

120

In [15]:
# CRS Score
pattern3=re.compile('CRS score of lowest-ranked candidate invited: (\d+)')
list_CRS=[]
for para in  soup.find_all('p'):
    if (pattern3.search(para.text)!= None):
        list_CRS.append(int((pattern3.search(para.text).group(1)).replace(',','')))
list_CRS[27]=list_CRS[27]+list_CRS[28]
list_CRS.pop(28)
len(list_CRS)

44

In [16]:
for para in  soup.find_all(class_='table'):
    for td in para.find_all('td')[1:]:
        list_CRS.append(int(td.text[0:4]))
len(list_CRS)

120

In [17]:
#dict_data.clear()
dict_data={'Date of Draw':list_Date,'Number of invitations issued':list_invitation,'CRS score of lowest-ranked candidate':list_CRS}
dict_data

{'Date of Draw': ['June 26, 2019',
  'June 12, 2019',
  'May 29, 2019',
  'May 15, 2019',
  'May\xa01, 2019',
  'April 17, 2019',
  'April 3, 2019',
  'March 20, 2019',
  'March 6, 2019',
  'February 20, 2019',
  'January 30, 2019',
  'January 23, 2019',
  'January 9, 2019',
  'December 19, 2018',
  'December 12, 2018',
  'November 28, 2018',
  'November 14, 2018',
  'October 29, 2018',
  'October 15, 2018',
  'October 3, 2018',
  'September 24, 2018',
  'September 19, 2018',
  'September 5, 2018',
  'August 22, 2018',
  'August 8, 2018',
  'July 25, 2018',
  'July 11, 2018',
  'June 25, 2018',
  'June\xa013, 2018',
  'May 30, 2018',
  'May\xa023, 2018',
  'May\xa09, 2018',
  'April\xa025, 2018',
  'April\xa011, 2018',
  'March\xa026, 2018',
  'March\xa014, 2018',
  'February 21, 2018',
  'February 7, 2018',
  'January 24, 2018',
  'January 10, 2018',
  'December 20, 2017',
  'December 6, 2017',
  'November\xa015, 2017',
  'November\xa08 2017',
  'November\xa01, 2017',
  'November\xa01, 2017',
  'October\xa018, 2017',
  'October\xa04, 2017',
  'September 20, 2017',
  'September 6, 2017',
  'August 23, 2017',
  'August\xa09, 2017',
  'August\xa02, 2017',
  'July\xa012, 2017',
  'June\xa028, 2017',
  'May 31, 2017',
  'May 26, 2017',
  'May 26, 2017',
  'May 17, 2017',
  'May 4, 2017',
  'April 19, 2017',
  'April 12, 2017',
  'April 5, 2017',
  'March 24, 2017',
  'March 1, 2017',
  'February 22, 2017',
  'February 8, 2017',
  'January 25, 2017',
  'January 11, 2017',
  'January 4, 2017',
  'December 22, 2016',
  'December 16, 2016',
  'November 30, 2016',
  'November 16, 2016',
  'November 2, 2016',
  'October 19, 2016',
  'October 12, 2016',
  'September 21, 2016',
  'September 7, 2016',
  'August 24, 2016',
  'August 10, 2016',
  'July 27, 2016',
  'July 13, 2016',
  'June 29, 2016',
  'June 15, 2016',
  'June 1, 2016',
  'May 18, 2016',
  'May 6, 2016',
  'April 20, 2016',
  'April 6, 2016',
  'March 23, 2016',
  'March 9, 2016',
  'February 24, 2016',
  'February 10, 2016',
  'January\xa027, 2016',
  'January\xa013, 2016',
  'January\xa06, 2016',
  'December\xa018, 2015',
  'December\xa04, 2015',
  'November\xa027, 2015',
  'November\xa013, 2015',
  'October\xa023, 2015',
  'October\xa02, 2015',
  'September 18, 2015',
  'September 8, 2015',
  'August 21, 2015',
  'August 7, 2015',
  'July 17, 2015',
  'July 10, 2015',
  'June 26, 2015',
  'June 12, 2015',
  'May 22, 2015',
  'April 17, 2015',
  'April 10, 2015',
  'March 27, 2015',
  'March 20, 2015',
  'February 27, 2015',
  'February 20, 2015',
  'February 7, 2015',
  'January\xa031, 2015'],
 'Number of invitations issued': [3350,
  3350,
  3350,
  500,
  3350,
  3350,
  3350,
  3350,
  3350,
  3350,
  3350,
  3900,
  3900,
  3900,
  3900,
  3900,
  3900,
  3900,
  3900,
  3900,
  400,
  3500,
  3900,
  3750,
  3750,
  3750,
  3750,
  7500,
  500,
  200,
  3500,
  3500,
  3500,
  3500,
  3000,
  3000,
  3000,
  3000,
  2750,
  2750,
  2750,
  2750,
  2750,
  2000,
  505,
  290,
  2757,
  2801,
  2871,
  2772,
  3035,
  2991,
  3264,
  3202,
  3409,
  3877,
  400,
  143,
  3687,
  3796,
  3665,
  3923,
  3753,
  3749,
  3884,
  3611,
  3644,
  3508,
  3334,
  2902,
  2878,
  1936,
  559,
  2427,
  2080,
  1804,
  1518,
  1288,
  1000,
  750,
  754,
  755,
  747,
  773,
  752,
  762,
  763,
  799,
  1018,
  954,
  1014,
  1013,
  1484,
  1505,
  1468,
  1518,
  1463,
  1503,
  1451,
  1559,
  1506,
  1502,
  1530,
  1545,
  1517,
  1523,
  1402,
  1581,
  1516,
  1575,
  1501,
  1361,
  715,
  925,
  1637,
  1620,
  1187,
  849,
  779,
  779],
 'CRS score of lowest-ranked candidate': [462,
  465,
  470,
  332,
  450,
  451,
  451,
  452,
  454,
  457,
  438,
  443,
  449,
  439,
  445,
  445,
  449,
  442,
  440,
  445,
  284,
  441,
  440,
  440,
  440,
  441,
  442,
  893,
  288,
  902,
  440,
  441,
  441,
  444,
  446,
  456,
  442,
  442,
  444,
  446,
  446,
  452,
  439,
  458,
  241,
  673,
  436,
  438,
  433,
  435,
  434,
  433,
  441,
  440,
  449,
  413,
  199,
  775,
  415,
  423,
  415,
  423,
  431,
  441,
  434,
  441,
  447,
  453,
  459,
  468,
  475,
  497,
  786,
  470,
  472,
  475,
  484,
  483,
  491,
  538,
  490,
  488,
  482,
  482,
  488,
  483,
  484,
  534,
  468,
  470,
  470,
  473,
  453,
  459,
  457,
  453,
  461,
  460,
  461,
  472,
  484,
  489,
  450,
  450,
  459,
  456,
  471,
  451,
  463,
  469,
  482,
  755,
  453,
  469,
  453,
  481,
  735,
  808,
  818,
  886]}

In [18]:
import pandas as pd

In [20]:
df=pd.DataFrame(dict_data)
df

,Date of Draw,Number of invitations issued,CRS score of lowest-ranked candidate
0,"June 26, 2019",3350,462
1,"June 12, 2019",3350,465
2,"May 29, 2019",3350,470
3,"May 15, 2019",500,332
4,"May 1, 2019",3350,450
5,"April 17, 2019",3350,451
6,"April 3, 2019",3350,451
7,"March 20, 2019",3350,452
8,"March 6, 2019",3350,454
9,"February 20, 2019",3350,457
10,"January 30, 2019",3350,438
11,"January 23, 2019",3900,443
12,"January 9, 2019",3900,449
13,"December 19, 2018",3900,439
14,"December 12, 2018",3900,445
15,"November 28, 2018",3900,445
16,"November 14, 2018",3900,449
17,"October 29, 2018",3900,442
18,"October 15, 2018",3900,440
19,"October 3, 2018",3900,445
20,"September 24, 2018",400,284
21,"September 19, 2018",3500,441
22,"September 5, 2018",3900,440
23,"August 22, 2018",3750,440
24,"August 8, 2018",3750,440
25,"July 25, 2018",3750,441
26,"July 11, 2018",3750,442
27,"June 25, 2018",7500,893
28,"June 13, 2018",500,288
29,"May 30, 2018",200,902
...,...,...,...
90,"March 23, 2016",1014,470
91,"March 9, 2016",1013,473
92,"February 24, 2016",1484,453
93,"February 10, 2016",1505,459
94,"January 27, 2016",1468,457
95,"January 13, 2016",1518,453
96,"January 6, 2016",1463,461
97,"December 18, 2015",1503,460
98,"December 4, 2015",1451,461
99,"November 27, 2015",1559,472
100,"November 13, 2015",1506,484
101,"October 23, 2015",1502,489
102,"October 2, 2015",1530,450
103,"September 18, 2015",1545,450
104,"September 8, 2015",1517,459
105,"August 21, 2015",1523,456
106,"August 7, 2015",1402,471
107,"July 17, 2015",1581,451
108,"July 10, 2015",1516,463
109,"June 26, 2015",1575,469
110,"June 12, 2015",1501,482
111,"May 22, 2015",1361,755
112,"April 17, 2015",715,453
113,"April 10, 2015",925,469
114,"March 27, 2015",1637,453
115,"March 20, 2015",1620,481
116,"February 27, 2015",1187,735
117,"February 20, 2015",849,808
118,"February 7, 2015",779,818
119,"January 31, 2015",779,886

Find out the total number of PR invites issues per year from 2015-2019

In [22]:
df['Date of Draw']=pd.to_datetime(df['Date of Draw'])

In [23]:
yeardata=df.groupby(df['Date of Draw'].dt.year)

In [24]:
yeardata['Number of invitations issued'].sum()

Date of Draw
2015    31063
2016    33782
2017    86023
2018    89800
2019    41800
Name: Number of invitations issued, dtype: int64